body {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Calibri;
}
a {
  text-decoration: none;
}
li,
ol,
ul {
  list-style: none;
}
input,
button {
  outline: none;
  border: none;
}
